table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 90vw;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f4f4f4;
}

tr:hover {
    background-color: #e3e3e3
}

#entry-select {
    padding: .5%;
}